<!--3ªº paso: el output. envioDatos es el nombre que le he dado a la instancia de objeto tipo eventoç
Este llama a una función que es la que le pasará un evento
Función desarrollada en el ts de este mismo componente padre-->
<app-formulario-hijo (envioDatos)="recibirPedidoDelHijo($event)"></app-formulario-hijo>

<!--Recorremos el Array con bucle forEach-->
<div *ngFor="let pedido of arrayPedidosPadre">

  <p>Id pedido: {{pedido.idPedido}}</p>
  <p>Id cliente: {{pedido.idCliente}}</p>
  <p>Nombre cliente: {{pedido.nombreCliente}}</p>
  <p>Total productos: {{pedido.totalProductos}}</p>
  <p>Importe total: {{pedido.importeTotal}}</p>

</div>
